<!DOCTYPE html>
<html>
  <head>
    <title>HelpRon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/nav" %>

    <% if current_page?("/") %>
      
    
    <section>
    <%= yield %>
    </section>

    <% else %>
    <section class="sectioner">
    <%= yield %>
    </section>
    <% end %>
    <footer>
      <p> © JJ Keeney | 2017 All transactions are passed through Stripe, a secure way to transfer money on the internet. Learn more at <a href="https://stripe.com/" target="_blank">Stripe.com</a></p>
    </footer>
  </body>
</html>



      
    